<script src="https://kit.fontawesome.com/b8d968d2f1.js" crossorigin="anonymous"> </script>
<link href= "./css/styles.css" rel = "stylesheet">
<body class="body1">
<header class="formatoHeader">
    <img src='/images/logo-mercado-liebre.svg' class="logo1">
<nav class="centrarBoton">
    <ul class="nbar">
    <li><a href = >Ofertas</a></li>
    <li><a href = >Tiendas Oficiales</a></li>
    <li><a href = >Vender</a></li>
    <li><a href = >Ayuda</a></a></li>
</ul>
<ul class="nbar1">
    <li><a href = "/register" > Crea tu cuenta <i class="fa-solid fa-id-card"> </i> </a> </li>
    <li><a href = "/login">Ingresa <i class="fa-solid fa-right-to-bracket"> </i> </a> </li>
    <li><a href = >Mis Compras <i class="fa-solid fa-basket-shopping"> </i></a> </li>
    </ul>
<div class = "botonHamburguesa">
<button ><i class="fas fa-bars"></i> </button> 
</div>
</nav>
</header> 
<form action = "/login" method="get">
    <div class="login">
    <p class="usuario"><input type = "text" name = "usuario" placeholder="nombre de usuario"></p>
    <p class="password"><input type="password" name = "contraseña" placeholder = "contraseña"> 
    </p>
    <p class="button"><input type="submit" name="enviar"></p>
    </div> </form>
</body>
    <footer class = contenido>    
        <ul>
            <div class = "formatoFooter"> <i class="fa-solid fa-credit-card"></i> </div>
            <li class="sinPuntos"> Paga con tarjeta o efectivo
                <p class="sinPuntos"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <div class = "formatoFooter"> <i class="fa-solid fa-gift"> </i> </div>
            <li class="sinPuntos"> Envío gratis desde $ 2.500
                <p class="sinPuntos"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <div class = "formatoFooter"> <i  class="fa-solid fa-user-shield" > </i></div>
            <li class="sinPuntos"> Seguridad, de principio a fin <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
                puedas hacer,porque estás siempre protegid@.</p>
            <li class="sinPuntos"> Copyright © 1999-2020 MercadoLiebre S.R.L. </li>
        </ul>
    </footer>